/* HeaderStyle.css */

/* Podstawowe style dla nagłówka */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Ciemne tło */
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img {
  width: 150px; /* Dostosuj do rozmiaru logo */
  border-radius: 50%;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #6f4f1e; /* Złoty kolor przy hoverze */
}

.profile-links {
  display: flex;
  align-items: center;
}

.profile-link, .auth-link, .logout-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile-link:hover, .auth-link:hover, .logout-link:hover {
  color: #6f4f1e; /* Złoty kolor przy hoverze */
}

/* Responsywność */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navigation {
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .profile-links {
    margin-top: 20px;
  }
}
